.ipynb_checkpoints/
*.zip


.ipynb_checkpoints/
*.zip

*.npz
data/
B-CARS and SR data/

.ipynb_checkpoints/
*.zip

*.npz
data/
B-CARS and SR data/

2000 examples for CARS and Raman Synthetic data.ipynb.ipynb_checkpoints/
*.zip
*.npz
data/
B-CARS and SR data/
2000 examples for CARS and Raman Synthetic data.ipynb